.select {
  &__button {
    position: relative;
    padding: 16px;
    width: 100%;
    border: 0;
    background-color: inherit;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid #eee;

    .icon-arrow_left {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      font-size: 24px;
    }
  }
}