.shop-cart {
  position: relative;

  &__cart {
    @extend %flex-center;
    @include getCircle(40px);
    border: 1px solid #000;
  }

  &__badge {
    @extend %flex-center;
    @include getCircle(20px);
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: $main-background-color;
    color: #fff;
  }

  .icon-cart {
    color: #000;
    font-size: 20px;
  }
}